$--gray--100:#1F1F1D;
$--gray--80:#40403E;
$--gray-60:#5F5F5C;
$--gray--40:#727270;
$--gray--10:#9B9B99;
$--gray--05:#BBBBB8;
$--gray--0:#FAFAF7;

$--white--100:#FFFFFF;
$--white--72: rgba(255, 255, 255, 0.72);
$--white-40:rgba(255, 255, 255, 0.4);

$--primary--100:#0E75EA;
$--primary--50:#0087FE;
$--primary--20:#0096FF;
$--primary--10:#2FA6FF;
$--primary--05:#5AB6FF;
$--primary--0:#8DCBFF;

$--success--100:#116942;
$--success--50:#1BA769;
$--success--05:#DEF2E9;

$--warning--100:#A64F21;
$--warning--50:#E86825;
$--warning--05:#FFE1BE;

$--alert--100:#9F1B1F;
$--alert--50:#DE1C22;
$--alert--05:#FFE0E1;
